<mat-toolbar style="background-color: #00488A;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color:#159AFF">verified_user</mat-icon>
    </button>
    <span style="color:white;" class="header-text">Doc</span><span style="color:#159AFF;" class="header-text">Shield</span>
    <div style="display: flex; justify-content: right;  align-items: center; align-content: flex-end; flex-wrap: nowrap; flex-direction: row; column-gap: 1.67vw;  border-radius: 0;" class="example-spacer">
        <nav >
            <a href="#" routerLink="/home" routerLinkActive="active">Home</a>
            <a href="#"  routerLink="/doctype" routerLinkActive="active">Document types</a>
            <a href="#" routerLink="/issuedoc" routerLinkActive="active">Issued Documents</a>
            <div class="animation start-home"></div>
          </nav>
          <button mat-raised-button id="primary-btn"  style="padding:1vw;
          background-color: #159AFF;
          color:white;" (click)="issuedoc()">Issue a document</button>
          <div class="demo-section" >
            <mat-icon matBadge="7" matBadgeColor="warn" matBadgeOverlap="false"  style="font-size: 30px; line-height: -15px;">notifications</mat-icon>
              <!-- Include text description of the icon's meaning for screen-readers -->
              <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
              </span>
          </div>
          <div  style="display: flex; justify-content: center; align-items: center; flex-direction: row; column-gap: 10px;">
            <img   src="../../../../assets/images/21212112.png"  alt="Loading" class="profile-image">
            <span  style="color:white;">IBM Issuer</span>
        </div>
    </div>
  </mat-toolbar>
  <div>
    <router-outlet>

    </router-outlet>
</div>
