
<div class="animationdialog" style="height:500px; width:auto; display: flex; justify-content: center; align-items: center; padding:2vh;">
    <!-- <h2 mat-dialog-title>Dialog Title</h2> -->
    
      <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="first"></mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
      </mat-tab-group> -->
       <div style="display: flex; justify-content: center; align-items: center; flex-direction: row; ">
          <div class="left-side">
                <div style=" display: flex; justify-content: top; align-items: left; flex-direction: column; row-gap: 10px;; height:auto; width: 100%;">
                  <span style="font-size: 1vw;">Aramco Docshield</span>
                  <span style="font-size: 1.5vw;">Sign In</span>
                  <span>to access accounts</span>
                  <mat-form-field appearance="outline"  id="searchbar">
                    <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
                     <input  matInput placeholder="Enter email address or phone number">
                   
                     <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
                    </div>
                     <!-- <mat-icon matSuffix id="searchicon">search</mat-icon> -->
                 </mat-form-field>
                 <br>
                 <mat-form-field appearance="outline"  id="searchbar2">
                  <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
                   <input  matInput placeholder="Enter the password"  [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                 
                   <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
                  </div>
                   <!-- <mat-icon matSuffix id="searchicon">search</mat-icon> -->
               </mat-form-field>
                 <br>
                 <span>
                  <button mat-button id="signinbtn" (click)="signin()">Login</button>
                 </span>
                 <button mat-button id="forgetpassword">forget password</button>
                 <span>sign using</span>
                 <span>Aramco SSO</span>
                </div>
                <div>

                </div>
          </div>
          <span class="line"></span>
          <div class="right-side">
              <img src="../../../assets/images/login_image2.jpg" height="300px" width="300px" alt="loading">
              <span>About the DocShield</span>
              <span>Caption about the DocShield</span>
              <button mat-button >Learn More</button>
          </div>
       </div>
      <!-- <p>{{ data.message }}</p> -->
    
    <!-- <mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions> -->
  </div>

